body{
    font-family: 'Poppins', sans-serif;
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url(../images/home.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 150px;
}
.navbar{
    border-bottom: solid 4px #098bc1;
}